
<div class="container-fluid linesBig">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
      <div class="col-4">
        <div class="textPc">Get in touch with us</div>
      </div>
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
    </div>
  </div>
  <div class="grid-container-footer">
    <div class="time">
      <div class="timeWrapperFooter">
        <div class="timePosFooter">
          <div class="dayDateFooter">
          Monday - Friday:
          </div>
          <div class="hoursFooter">
            8:00 - 20:00 (8 AM - 8 PM)
          </div>
          <div class="dayDateFooter">
             Saturday - Sunday:
          </div>
          <div class="hoursFooter">
            10:00 - 18:00 (10 AM - 6 PM)
          </div>
          <div class="timeZoneFooter">
             Central Europe Time Zone
          </div>
        </div>
        <div class="bordersFooterMobile"></div>
      </div>
  
    </div>
    <div class="terms">
      <div class="wrapperTermsFooter">
        <a href="#" class="termsLinkFooter">General Terms and Conditions</a>
      </div>
    </div>
    <div class="phone">
      <div class="wrapperPhoneFooter">
        <div class="phonesFooter">
          <div class="callFooter">Call Us</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">ind </div><div class="numberFooter"> +91 1241  3748332</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">ind</div> </div><div class="numberFooter"> +1 6346 995 5185</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">ind</div><div class="numberFooter"> +48 433 5350 1723</div>
        </div>
      </div>
    </div>
  

    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
          Antartica Offics:
          </div>
          <div class="hoursFooter">
          00001 ice St.  Antartica
          </div>
          <div class="dayDateFooter">
            mars Offices:
          </div>
          <div class="hoursFooter">
            Sunset vinland 21/45
          </div>
          <div class="dayDateFooter">
            galaxy no 255 Offices:
          </div>
          <div class="hoursFooter">
            Podwale 11 Lublin
          </div>
        </div>
      </div>
    </div>
   
