{% load static %}
<div class="sizeUs">
    <div class="container" id='faqs'>
        <div class="row">
            
        <div class="row">
            <div class="col-md-12">
                <div class="aboutUsTitle">
                    Why Us
                </div>
                <div class="aboutUsText">
                    To the company, sustainability means creating value for all stakeholders on a lasting basis: customers, employees, investors, business partners and the society as a whole. The basis for this is the sustainable business strategy of Daimler in which the company takes responsibility for the economic, ecological and social effects of its business activities and looks at the entire value chain.
                </div>
            </div>
         
        </div>
    </div>




</div>
